body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #91e706e8;
  font-family: Arial, sans-serif;
}

#about {
  text-align: center;
  padding: 20px 0;
}

#about img {
  width: 90px;
  border-radius: 30%;
}

.calculator {
  display: grid;
  text-shadow: #f0f0f0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 2px 5px 20px 10px rgba(0, 0, 0, 0.2);
}

.display {
  grid-column: 1 / -1;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  background-color: #777777b2;
  border: 1px solid #000000;
  border-radius: 5px;
}

.display2 {
  grid-column: 1 / -1;
  text-align: left;
  padding: 5px;
  font-size: 15px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: aquamarine;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ddd;
}

.about {
  text-align: center;
}
